# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Random input
*.rnd

# Vim swap files
.*.swp

**/testdir
**/ppm.zip
**/*.class
zip/zip30
test2.sh
html_result/*
imageprocessing/jpegOut/*
compiling/fftw-3.3.4
trash/
